#page1{
border:2px solid red;
display: flex;
justify-content: space-evenly;
}
#middleContainer{
border: 2px solid black;
width: 50vh;
height: 50vh;
display: flex;
justify-content: space-evenly
}

#startbutton{
    border:2px solid black;
text-align: center;
margin: auto;
}

#p1-moveset {
border: 2px solid green;
width: 200px;
height: 100px;
}

#character{
    border: 2px solid black;
    width: 15vh;
height: 15vh;
}

#player1hp {
    border: 2px solid green;
    width:200px;
    height: 40px;
    position: absolute;
    top:800px;
    left:100px;
}

#player2hp {
    border: 2px solid green;
    width:200px;
    height: 40px;
    position: absolute;
    top:100px;
    right:50px;
}

progress[value] {
    width:100px;
    height:20px;
}
