#page1{
border:2px solid red;
display: flex;
justify-content: space-evenly;
}
#middleContainer{
border: 2px solid black;
width: 50vh;
height: 50vh;
display: flex;
justify-content: space-evenly
}

#startbutton{
    border:2px solid black;
text-align: center;
margin: auto;
}

#p1-moveset {
border: 2px solid green;
width: 200px;
height: 100px;
}

#character{
    border: 2px solid black;
    width: 15vh;
height: 15vh;
}
