#container{
margin: auto;
border: 2px solid black;
width: 70vh;
height: 70vh;
display: flex;
justify-content: space-evenly;
}

#character{
    border: 2px solid black;
    width: 15vh;
height: 15vh;
}